@media (width<625px) {
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
        width: 100%;
        height: 100%;
        position: relative;
    }
   /*MENU DESPLEGABLE*/
    .menu{
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        .menu-desplegable{
            display: none;
            width: 100%;
            height: auto;
            background-color: var(--bg-secundario);
            flex-direction: column;            
            padding: 20px;
            gap: 20px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            list-style-type: none;
            position: relative;

            a{
                text-decoration: none;
                color: var(--texto-secundario2);
                font-weight: bolder;
                height: 100%;
                display: flex;
            }
        }
    }

    label{
        display: block;
        position: absolute;
        height: 100%;
        left: 0;
        top: 10px;
        z-index: 1;

    }
    #m:checked + .menu-desplegable {
        display: flex; 
        animation: desplazar 0.5s ease-in-out;
    }

    /*QUIENES SOMOS*/
    #quienes{
        border-radius: 30px;
        text-align: left;
        margin: auto;
        margin-top: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-primario);
        width: 90%;
        position: relative;
        top: 35px;

        h2{
            margin-bottom: 10px;
        }

        section{
            border-radius: 30px;
            background-color: var(--bg-secundario);
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            padding: 40px;
            margin-bottom: 50px;

            .lista-quienes{
                margin-left: 30px;
                margin-top: 20px;

                li{
                    margin-bottom: 20px;
                }

                &:last-child{
                    margin-bottom: -10px;
                }
            }

            .ubi{
                border: 5px solid rgb(223, 73, 73);
                width: 100%;
            }
        }
    }

    /*INTRODUCCIÓN*/
    
}